* {
    font-family: 'pixelada' , sans-serif;
}
@font-face {
    font-family: 'pixelada';
    src: url(font/Pixel.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #3d3d3dff;
}
.retangulo {
    width: 400px;
    height: 560px;
    background-image: linear-gradient(to bottom, #f7f7f7ff, #a1a1a1ff);
    position: absolute;
    bottom: 100px;
    left: 35%;
    top: 5%;
    border-radius: 5%;
}
.card-header {
    width: 400px;
    height: 70px;
    background-image: linear-gradient(to right, #f30404ff, #8d0505ff);
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 0%;
    top: 0%;
}
#titulo_principal {
    font-size: 28px;
    padding-left: 13px;
    margin-top: 20px;
}
.card-body {
    background-image: linear-gradient(to bottom, #000000ff, #383838ff);
}
.card-body h1 {
    margin: -25%;
    padding: 20px;
    margin-top: 60px; 
    text-align: center;
    font-size: 28px;
    color: #fff;
}
.card-body h2 {
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 60px;
    text-align: center;
    font-size: 47px;
    color: #fff;
}
.perfil {
    font-family: sans-serif;
    color: #f0000f;
    display: flex;
    align-items: flex-start;
    padding: -30px;
    margin-left: 0px;
}
#foto {
    width: 120px;
    height: 150px;
    border-radius: 5px;
    margin-left: 7px;
    margin-top: -11%;
    padding-right: 12px;
}
.card-pessoa h1 {
    font-size: 22px;
    margin-top: -45px;
}
.card-pessoa h2 {
    font-size: 18px;
    background-color: #fdfcfc;
    border-radius: 5px;
    width: 200px;
    height: 22px;
    text-align: center;
    margin-top: -9%;
    margin-left: 2px;
}
.card-pessoa2 h1 {
    font-size: 22px;
    margin-top: 2px;
    margin-left: -202px;
}
.card-pessoa2 h2 {
    font-size: 18px;
    background-color: #fdfcfc;
    border-radius: 5px;
    width: 200px;
    height: 22px;
    text-align: center;
    margin-left: -200px;
    margin-top: -18px;
}
.card-pessoa3 h1 {
    font-size: 22px;
    margin-top: 50px;
    margin-left: -202px;
}
.card-pessoa3 h2 {
    font-size: 18px;
    background-color: #fdfcfc;
    border-radius: 5px;
    width: 200px;
    height: 22px;
    text-align: center;
    margin-left: -200px;
    margin-top: -18px;
}

.xp h1 {
    color: rgb(238, 255, 6);
    font-size: 24px;
    margin-top: 127px;
    margin-left: -330px;
}
.xp h2 {
    color: rgb(238, 255, 0);
    margin-top: -45px;
    margin-left: -73px;
}
.barra-xp {
    width: 90%;
    margin-left: 19px;
    background-color: #838181ff;
    height: 20px;
    border-radius: 5px;
    margin-top: -20px;
}
#progresso {
    border-radius: 5px;
    height: 100%;
    width: 50%;
    background-color: rgb(238, 255, 0);
}
.conquista {
    background-color: rgb(39, 255, 183);
    height: 163px;
    border-radius: 17px;
}
.conquista h1 {
    font-size: 22px;
    color: #eeff01ff;
    text-align: left;
    margin-left: 19px;
}
#star {
    font-size: 110px;
    margin-top: -40px;
    margin-left: 30px;
    color: #eeff01ff;
}
#trofeu {
    font-size: 67px;
    margin-top: -110px;
    margin-left: 150px;
}
#icone {
    font-size: 70px;
    margin-top: -98px;
    margin-left: 270px;
    color: #ffcc00;
}