body {
    background-color: #fff;
}
.retangulo {
    width: 400px;
    height: 600px;
    background-color: rgb(51, 114, 252);
    position: absolute;
    bottom: 100px;
    left: 30%;
    top: 20%;
    border-radius: 3%;
}